.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
.fondo {
  background-image: url(https://cdn.dribbble.com/users/4505839/screenshots/14422059/media/50a40a5a6f45183c7ea8d05de45a9d54.png),
    linear-gradient(90deg, #de9b98 0%, #73ef6b 100%);
    
    background-position: center;
    background-size: cover;
    width: 100%;
    
}

.steps-action {
  margin-top: 24px;
}

.centrar {
  padding-top: 5%;
  text-align: center;
  align-content: center;
  width: 100%;
  /* float: left !important; */
}
.iconos {
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.logo {
  width: 60%;
}
.logo-turism {
  width: 10%;
}
.banner {
  margin-top: 1%;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
}
.cuadro {
  background-color: #4a709286;
  border-radius: 15px;
  margin-bottom: 15px;
}
.suscribe {
  background-color: rgba(168, 187, 214, 0.26);

  padding-inline-start: 15%;
}
.shadow {
  box-shadow: 5px 5px 5px grey;
}
.hot-pop {
  background-color: #eeeeee;
  height: 100%;
  padding-left: 5%;
  text-align: center;
}
/* arreglar left y width en header-video */

.logotr{
  display: none;
}
.cu{
  margin-bottom: 5%;
}

.fondo-cuadro{
  background-image: url(/img/paisaje.jpg);
  background-position: center;
  background-size: cover;
 
}
.jumbotron{
  background: url(/img/paisaje.jpg) no-repeat center center; 
  /* -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%; */
}

/* ------------------MEDIA QUERY --------------------------------------------------------------------- */
@media (max-width: 600px) {
  .logoimg {
    display: none;
  }
  .header-video {
    display: none;

  }

  .ci{
    margin-top: 5%;
  }

  .logotr{
    display: block;
  }

  .fondo-cuadro{
    background-image: url(/img/travel_1.jpg);
    background-position: auto;
    background-size: cover;
   
  }
  .cuadro {
    background-color: #5f94c294;
    border-radius: 15px;
    margin-bottom: 15px;
  }

}
.menubar{
  width: 100%;
 
 
}

.ant-menu-horizontal {
  width: 100%;
  /* height: 8%; */
  /* position: fixed; */
  z-index: 20;
}

.ant-card-head {
  color: #fafafa;
}
.ant-form-item-label > label {
  color: rgb(0, 0, 0);
}

.carousel {
  width: 100%;
}
.galeria {
  max-height: 600px;
}
.negro {
  color: black;
}
.btnes {
  align-items: center;
  border-radius: 20px;
  background-color: rgb(223, 145, 0);

  padding-top: 6px;
  padding-bottom: 6px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.img-detalle {
  width: 60%;
  margin-left: 30px;
}
.imgtn {
  margin-left: 6%;
  display: flex;
  width: 26%;
}
.login {
  width: 50%;
  margin-left: 25%;
}
.habitaciones {
  background-color: #c6ccf0;
  border-radius: 15px;
  width: 100%;
  padding: 2%;
  margin-bottom: 15px;
  color: white;
  box-shadow: 5px 5px 5px grey;
}
.img-habitaciones {
  margin: 2%;
  width: 60%;
}
.row {
  margin-right: 0 !important;
}

.scrollTop {
  position: fixed;
  width: 6%;
  bottom: 10%;
  align-items: center;
  height: 20%;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  font-size: xxx-large;
  right: 6%;
  border-radius: 50%;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
footer {
  background-color: rgb(144, 165, 224);
}

.texto-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.texto-roboto-hoteles {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.subtitulos-hoteles {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #616161;
}
.texto-roboto-reserva {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 800;
  color: black;
}

.texto-roboto-popular {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}
.texto-roboto-elegir {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 800;
  color: black;
}

.texto-roboto-paisajes {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}
.texto-roboto-contacto {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}

.subtitulos-popular {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #616161;
}

.subtitulos-general {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #616161;
}

.sub-card-texto {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #616161;
}
.texto-roboto-general {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}
.texto-roboto-servicios {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: black;
}
