body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.items-navbar {
 font-family: 'Raleway', sans-serif;
}

.titulo-componentes {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  
}

.formato-tabla {
  font-family: 'Raleway', sans-serif;
  
  
}

.texto-roboto {
  font-family: 'Roboto', sans-serif;
}

.texto-calistoga {
  font-family: 'Calistoga', cursive;
}